retrieval/__pycache__/*
retrieval/models/net_best.pth
static/thumb_images/*
HashNet/pytorch/snapshot/*
HashNet/pytorch/src/__pycache__
static/image_database_test/*
templates/button.html
DaiNet/__pycache__/
DaiNet/checkpoint/
DaiNet/data/*
DaiNet/models/__pycache__
DaiNet/runs
DaiNet/data

