retrieval/__pycache__/*
retrieval/models/net_best.pth
static/thumb_images/*.jpg
HashNet/pytorch/snapshot/*
HashNet/pytorch/src/__pycache__
static/image_database_test/*
templates/button.html
DaiNet/__pycache__/
# DaiNet/checkpoint/DaiNet/*.t7
DaiNet/data/*
DaiNet/models/__pycache__
DaiNet/runs
DaiNet/data
retrieval/models/gallery_feature.npy
retrieval/models/image_paths.npy
