<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Image Retrieval</title>
    <style type="text/css">
        .imagestyle {
            /* margin-top: 100px; */
            /* width:200px; */
            height: 200px;
            border-radius: 20px;
        }

        .image_query_style {
            /* margin-top: 100px; */
            width: 400px;
            /* height:200px; */
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div style="padding-left: 60px; padding-right: 60px;">
        <h1>Image Retrieval</h1>
        <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=5>

        <form action="" enctype='multipart/form-data' method='POST'>
            <h2>Select Query Image</h2>

            <input type="file" name="picture" style="margin-top:20px;"/>
            <br>
            <i>Upload your picture, please click here: </i>
            <input type="submit" value="upload" name="submit" class="button-new" style="margin-top:15px;"/>
            <br>
            <i>Start retrieval, please click here: </i>
            <input type="submit" value="retrieval" name="submit" class="button-new" style="margin-top:15px;"/>
        </form>
        <h3>{{message}}</h3>
        <img class="image_query_style" src="{{ img_query }}" />
    </div>
</body>
</html>
